<div class="cover-top d-flex justify-content-center align-items-center">
  <div class="d-flex align-items-center">
    <!-- 画像を左側に配置 -->
    <div class="image-container mr-4">
      <img src="<%= asset_path('omochabako.png') %>" alt="おうちあそび箱のイラスト">
    </div>
    <!-- タイトルとサブタイトル -->
    <div class="text-center">
    <!-- <p class="sub-title">〜楽しいがいっぱい！おうち遊びのアイデアボックス〜</p>-->
      <p class="sub-title d-none d-md-block">〜楽しいがいっぱい！おうち遊びのアイデアボックス〜</p>
      <p class="sub-title d-md-none">〜楽しいがいっぱい！<br>おうち遊びのアイデアボックス〜</p>
      <h1 class="title mb-2">おうちあそび箱</h1>
      <% unless user_signed_in? %>
        <%= link_to new_user_registration_path do %>
          <h2 class="btn btn-primary mr-2">新規登録</h2>
        <% end %>
        <%= link_to new_user_session_path do %>
          <h2 class="btn btn-success ml-2">ログイン</h2>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
