<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div class="post">
    <h2>おうちあそびの名前: <%= post.title %></h2>
    <p>対象年齢: <%= post.age_group %></p>
    <p>必要な道具:</p>
    <ul>
      <% post.tool.split(",").each do |item| %>
        <li><%= item.strip %></li>
      <% end %>
    </ul>
    <p>遊びの手順:</p>
    <p><%= post.step %></p>
  </div>
<% end %>