.title {
  font-family: "游ゴシック", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif; // 游ゴシックに変更
  }
  
  .sub-title {
    font-family: "游ゴシック", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif; // 游ゴシックに変更
  }
  
  .cover {
    height: 100%;
    width: 100%;
    display: table;
    background: image-url("background-sky.png");
    background-blend-mode:lighten;
    background-size: 100% 100%;
  }
  
  .text-center {
    display: table-cell;
    vertical-align: middle;
    font-family: "游ゴシック", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif; // 游ゴシックに変更
  }