  .title {
  font-family: "游ゴシック", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif; // 游ゴシックに変更
  color: red; // 文字色を赤に変更
  }
  
  .sub-title {
    font-family: "游ゴシック", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif; // 游ゴシックに変更
    color: red; // 文字色を赤に変更
  }
  
  .cover {
    height: 100%;
    width: 100%;
    display: table;
    background-image: url(/assets/colorful-scaled.jpg);
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size: cover; // 画面全体に自然にフィット
  }
  
  .text-center {
    display: table-cell;
    vertical-align: middle;
    font-family: "游ゴシック", "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif; // 游ゴシックに変更
  }