.cover-user-show {
    height: 100%;
    width: 100%;
    background-color: #fff9e6;
    background-size: 100% 100%;
}

.cover-user-index {
    height: 100%;
    width: 100%;
    background-color: #fff9e6;
    background-size: 100% 100%;
}

.cover-user-edit {
    height: 100%;
    width: 100%;
    background-color: #fff9e6;
    background-size: 100% 100%;
}

.profile {
    padding: 15px;
}