.cover-user-show {
    height: 100%;
    width: 100%;
    display: table;
    background-image: image-url("colorful-scaled.jpg");
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: soft-light; /* 新しいブレンドモード */
    background-size: cover;
}

.cover-user-index {
    height: 100%;
    width: 100%;
    background-image: image-url("colorful-scaled.jpg");
    background-size: 100% 100%;
}

.cover-user-edit {
    min-height: 100vh;  /* ビューポートの高さに合わせて最小高さを設定 */
    width: 100%;
    background-image: image-url("colorful-scaled.jpg");
    background-size: 100% 100%;
}

.profile {
    padding: 15px;
}

/* エラーメッセージ表示用スタイル */
.card.bg-danger {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8d7da; /* エラーメッセージの背景色 */
    color: #721c24; /* エラーメッセージの文字色 */
    border: 1px solid #f5c6cb;
    border-radius: 5px;
     /* 幅を制限 */
    max-width: 400px; /* 必要に応じて調整 */
    margin-left: auto;
    margin-right: auto;
}

.card.bg-danger ul {
    list-style-type: none;
    padding-left: 0;
}

.card.bg-danger li {
    margin-bottom: 10px;
}

.card.bg-danger .message {
    font-size: 14px;
}

.follow-stats {
    margin-right: 16px; /* 2文字分程度のスペース */
  }

.profile-text-field {
    width: 100%;
    height: 100px; /* 高さを大きくする */
    padding-top: 0; /* 上部の余白をなくして上寄せにする */
    resize: none; /* ユーザーによるリサイズを無効化 */
  }

  /* スマホ用のレスポンシブ対応 */
@media screen and (max-width: 575px) { 
/* ユーザー一覧のレスポンシブ対応 */
.cover-user-index .caption {
    font-size: 0.8rem; /* スマホサイズ */
  }

/* ユーザーページのレスポンシブ対応 */
.profile-img {
    width: 60px; /* スマホ画面でさらに小さくする */
    height: 60px;
    }


}